.pop_out{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}
/* 登陆弹窗 */
.pop-ups{
    text-align: center;
    position: fixed;
    margin-left: -250px;
    bottom: 0;
    left: 50%;
    height: 95vh;
    width: 500px;
    border: 1px solid black;
    z-index: 1000;
    background-color: white;
}
/* 最上方，带小叉关闭功能  */
.pop-ups h4{
    background-color: red;
    height: 30px;
    text-align: right;
    cursor: move;
}
.pop-ups h4  a{
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.pop-ups h4 a img{
    width: 100%;
    height: 100%;
}
/* 切换 */
.pop-ups .switch{
    font-size: 22px;
    height: 20px;
    padding: 0 30px;
    line-height: 20px;
    width: 380px;
    margin:0px auto;
    margin-top: 30px;
    text-align: center;
}
.pop-ups .switch li{
    padding:0 30px;
    display: inline-block;
    cursor: pointer;
}
.pop-ups .switch li:hover{
    color: red;
}
.pop-ups .switch li:first-child{
    color: red;
    border-right: 1px solid #CBCBCB;
}

/* 下方登陆开始、 */
.pop-down{
    width: 380px;
    margin: 0 auto;
    margin-top: 40px;
    /* display: none; */
    text-align: center;
}

/* 输入登陆信息 */
.pop-down .pop-login li{
    padding: 14px 0;
    border-bottom: 1px solid #CBCBCB;
}
.pop-down .pop-login li input{
    width: 100%;
    font-size: 14px;
    height: 20px;
    outline: none;
}
/* 短信验证 */
.pop-down .message{
    height: 50px;
    line-height: 50px;
    text-align: left;
}
.pop-down .message a{
    display: inline-block;
    color: #0F7DFD;
}
.pop-down .message a i{
    width: 11px;
    height: 15px;
    background-color: #0F7DFD;
    /* background: url(../img/article_ser.png) no-repeat ; */
    display: inline-block; 
    margin-bottom: -3px;
    margin-right: 5px;
}
/* 登录按钮 */
.pop-down>button{
    color: white;
    border: 0;
    width: 100%;
    border-radius: 50%;
    line-height: 44px;
    height: 44px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 26px;
    text-align: center;
    background-color: #C70000;
}
.pop-down .reb{
    height: 40px;
    line-height: 40px;
    text-align: left;
}
/* checkbox修改 */
.pop-down .reb input[type='checkbox']{
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
}
.pop-down .reb input[type='checkbox']:checked::after{
    text-align: center;
    display:inline-block;
    width: 14px;
    height: 14px;
    content: "✓";
    background-color: #0F7DFD; 
    color: white;
}
.pop-down .reb a{
    display: inline-block;
    color: lightskyblue;
    float: right;
}
/* 注册账号 */
.pop-down .reg{
    display: inline-block;
    height: 20px;
}
.pop-down .reg li{
    float: left;
}
.pop-down .reg li:first-child a{
    border-right: 1px solid #CBCBCB;
}
.pop-down .reg li a{
    padding: 0 20px;
    color: #0A64CA;
}
/*  其他方式登陆  */
.pop-down .change-login{
    margin:80px 0 20px;
}
.pop-down .change-login span{
    color: #CECECE;
}
.pop-down .change-login span::before,.pop-down .change-login span::after{
    content: "";
    background-color: #CECECE;
    height: 1px;
    display: inline-block;
    width: 120px;
    float: left;
    margin-top: 6px;
}
.pop-down .change-login span::after{
    float: right;
}
/* qq，支付宝，微信 */
.change-login>ul{
    padding: 10px 96px;
}
.change-login>ul>li{
    float: left;
    padding: 0 10px;
}
.change-login>ul>li a{
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #0A64CA;
}


/* 点击扫码切换的界面 */
.pop-down-right{
    width: 380px;
    margin: 0 auto;
    margin-top: 40px;
    /* text-align: center; */
    display: none;
}
.pop-down-right .ma_out{
    display: inline-block;
    position: relative;
    left: 0;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 60px 0;
    border: 1px solid black;
}
/* .pop-down-right .ma_out:hover{
    margin-right: 150px;
    transition: 0.5s;
} */
.pop-down-right .box_hide{
    width:110px;
    height: 260px;
    background-color: #0A64CA;
    display: none;
    float: right;
}
.pop-down-right>p{
    display: inline-block;
    margin-bottom: 130px;
}
.pop-down-right>p span{
    color: #0A64CA;
}


/* ... */
.pop-ups>p{
    display: inline-block;
}
.pop-ups>p>a{
    color: #0A64CA;
    text-decoration: underline;
}