
/* header */
header {
    width: 100%;
}

.header-in,
.section-in,
.foot,
footer {
    width: 1200px;
    margin: 0 auto;
}

/* nav */
nav {
    height: 30px;
}

nav .nav_left {
    float: left;
}

nav>ul>li {
    float: left;
    line-height: 30px;
    padding: 0 8px;
    position: relative;
}

/* li加边框效果 */
nav>.nav_left>li::before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #e4e4e4;
}

nav .nav_left li:first-child,
nav .nav_login li:first-child {
    padding-left: 0;
}

nav>ul>li>a {
    color: #A3A3A3;
    line-height: 30px;
}

nav>ul>li>a:hover {
    color: red;
}

nav .sanjiao {
    padding-right: 18px;
}

nav .sanjiao::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: 4px solid transparent;
    border-top: 4px solid #999;
    position: absolute;
    top: 10px;
    right: 4px;
}

nav .sanjiao:hover::after {
    border: 4px solid transparent;
    border-bottom: 4px solid #999;
    top: 6px;
}

nav .sanjiao:hover>div,
nav .nav_login .car:hover>div {
    display: block;
    z-index: 500;
}

nav .xiazai,
.more {
    color: #999;
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    width: 120px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 6px 0 #999;
}

nav .xiazai {
    white-space: nowrap;
}

nav .xiazai img {
    margin: 5px auto;
}

nav .more a,
nav .xiazai a {
    color: black;
    font-size: 14px;
}

nav .nav_login {
    float: right;
}

nav .nav_login .car>a {
    padding-left: 30px;
    background: url(../img/icon-common.png) no-repeat 5px 4px;
}


/* 我的购物车 */
.header-in .my-car {
    height: 50px;
    padding: 10px 0;
}

.header-in .my-car>a {
    display: block;
    float: left;
    width: 94px;
    height: 50px;
    margin-right: 26px;
    background: url(../img/car_logo.png) no-repeat;
}

.header-in .my-car>span {
    font-size: 22px;
    line-height: 50px;
}

.header-in .my-car .status {
    width: 440px;
    height: 50px;
    float: right;
    background: url(../img/car-status.png) no-repeat -1px 2px;
}

/* section */
section {
    width: 100%;
    background-color: #F4F4F4;
}

.section-in {
    padding-top: 10px;
}
/* 加入商品  高度自动排布 */
.section-in.sec_addto_car{
    height: auto;
}
/* 物品加入购物车后的变化  块 先默认隐藏，防止*/
.section-in .addToCar_section{
    display: none;
}
.section-in .localData{
    display: none;
}


/* 提示登陆 */
.section-in .tip-login {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #fffdee;
    border: 1px solid #eace85;
}

.tip-login>span {
    color:#ca141d;
}

.tip-login>span i {
    display: inline-block;
    margin-right: 3px;
    font-size: 12px;
    font-weight: bold;
}

.tip-login>a{
    width: 70px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background: #ca141d;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    border-radius: 2px;
}

/* car-section 购物车详情 */
.section-in .car-section {
    height: 356px;
    background-color: #fff;
    padding-top: 135px;
    text-align: center;
}

.car-section>a,.car-section>p {
    display: inline-block;
    width: 100%;
}

.car-section>img {
    margin: 0px auto;
    margin-bottom: 30px;
}

.car-section>p {
    color: #A3A3A3;
    margin-bottom: 16px;
    font-size: 18px;
}

.car-section>a {
    width: 172px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    display: block;
    margin: 0 auto;
    background: #ca141d;
    border-radius: 2px;
}


/* 滚动标题 */
section h4 {
    color: #3a3a3a;
    font-size: #3a3a3a;
    padding: 30px 0 10px;
    font-size: 18px;
    background-color: #F3F3F3;
}
/* 长滚动大盒子 */
.x_move{
	width: 1100px;
    padding: 20px 50px 18px;
    height: 200px;
    overflow: hidden;
    background-color: white;
}

/* 每个小盒子 */
.image-text>a{
	text-align: center;
	background-color: white;
    display:block;
    width: 222px;
    height: 200px;
    font-size: 14px;
}
.image-text>a>p{
    margin: 5px 0 10px;
    color: #C6C6C6;
}
.image-text>a .red{
   color: #C9151D;
}
.image-text img{
    width: 134px;
    height:134px;
	display: block;
    margin: 0px auto;
}
/* 左右图标 */
.x_move .left,.x_move .right{
    color: #BBBBBB;
    font-size: 18px;
    font-weight: bold;
    background-image: none;
    margin-top: -3px;
    cursor: pointer;
    z-index: 1000!important; 
	outline: none;
}
.x_move .left:hover,.x_move .left:hover{
    color: #ca141d;
}
/* 文字 */
section .image-text>a span{
    display:block;
    margin: 0 auto;
}
section .image-text>a span:first-of-type{
    margin: 10px 0 20px;
}
.x_move .left{
    left: 24px;
}
.x_move .right{
   right: 24px;
}
/* 设置到最开始和最开头时,点击按钮不会点击到下方a标签 */
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ 
    pointer-events:auto; 
    cursor: not-allowed;
}


/* reload  返回购买块 */
.section-in .local_del_data {
    display: none;
}
.local_del_data .reload{
    width: 1200px;
    margin: 0 auto;
    color: #3a3a3a;
}
/* 上部分 */
.reload .reload_top{
    line-height: 40px;
    border-bottom: 1px solid #eaeaea;
    color: #a4a4a4;
}
.reload .reload_top h2{
    color: #3a3a3a;
    font-size: 18px;
    line-height: 1;
    margin: 30px 0 10px;
    font-weight: 400;
}

.reload  .reload_list{
    background: #fff;
    padding: 0 40px 0 70px;
}
.reload .reload_top>.reload_list>li{
    line-height: 40px;
}

/* 商品部分 */
.reload  .reload_list>li{
    float: left;
    font-size: 14px;
    color: #a4a4a4;
    line-height: 70px;
}
.reload .reload_name{
    width: 700px;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.reload .reload_common{
    width: 100px;
    margin-left: 30px;
    text-align: center;
}
/*重新购买 按钮 */
.reload .reload_list .reload_btn{
    cursor: pointer;
    width: 86px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 2px;
}
.reload .reload_btn:hover{
    border-color: #ca141d;
    color: #ca141d;
}



/* foot_out */
.foot_out {
    width: 100%;
    background-color: #EFEFEF;
}

/* foot */
.foot {
    height: 350px;
}

.foot .foot_ser {
    height: 140px;
    border-bottom: 1px solid #E7E7E7;
}

.foot .foot_ser li {
    float: left;
    width: 300px;
    height: 140px;
    line-height: 140px;
}

.foot .foot_ser li span {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: -20px;
    margin-right: 10px;
    background: url(../img/icon-common.png) no-repeat 2px -149px;
}

.foot .foot_ser li>a {
    font-size: 16px;
    color: #3a3a3a;
}

.foot .foot_link {
    width: 1200px;
    height: 212px;
    padding: 20px 0 10px 0;
}

.foot .foot_link>li {
    height: 212px;
    width: 157px;
    float: left;
}

.foot .foot_link>li>dl dt {
    font-size: 14px;
    padding: 10px 0 12px;
}

.foot .foot_link>li:nth-child(6)>dl dt {
    position: relative;
}

.foot .foot_link>li>dl::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #A7A7A7;
}

.foot .foot_link>li>dl dd a {
    font-size: 12px;
    white-space: nowrap;
    line-height: 24px;
    color: #656565;
}

.foot .link_left,
.foot .link_right {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background-color: #B2B2B2;
    color: white;
    cursor: pointer;
}

.foot .link_left {
    right: 80px;
}

.foot .link_right {
    right:60px;
}

.foot .foot_link>li:last-child>dl dt h3 {
    font-weight: 500;
    font-size: 24px;
    color: #393939;
}

/* 最后一个li */
.foot .foot_link>li:last-child{
    width: 170px;
    margin-left: 40px;
}
.foot .foot_link>li:last-child .tel_next{
    line-height: 16px;
}

.foot .foot_link .service {
    display: block;
    width: 170px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900 !important;
    cursor: pointer;
    border-radius: 5px;
}

.foot .foot_link .service span {
    display: inline-block;
    height: 18px;
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat -101px -23px;
}


/* footer */
.footer_out {
    width: 100%;
    background-color: #E5E5E5;
}

footer {
    font-size: 12px;
    padding: 26px 0 34px;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
    background: url(../img/flogo.png) no-repeat left 50px;
}

footer>p {
    margin-left: 130px;
    line-height: 20px;
    color: #a4a4a4;
    /* float: left; */
}

footer>p>a {
    color: #a4a4a4;
}

footer>p>a:hover {
    color: #ca141d;
}

footer>ul {
    width: 300px;
    height: 60px;
    float: right;
    margin-top: -40px;
}

footer>ul>li {
    float: left;
}

footer>ul>li a {
    margin-left: 4px;
    display: block;
    width: 70px;
    height: 24px;
}

footer>ul>li a img {
    width: 100%;
    height: 100%;
}




.section-in .product,.section-in .product_remove_title,.section-in .product_remove{
    margin: 0 auto;
    width: 1200px;
}
/* 加入的商品 */
.section-in .product>.product_list{
    background-color: white;
    line-height: 40px;
    padding-left: 40px;
    color: #a4a4a4;
}
 .product>.product_list>li{
    float: left;
}

/* 选择框 */
 .product>.product_list .check_box{
    width: 150px;
}
.product>.product_list .check_box>p{
    margin-bottom: -3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border:1px solid #C5C5C5;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.product_list .check_box i{
    color: #CB0D16;
    position: absolute;
    left: -4px;
    top: -15px;
    font-size: 22px;
}

/* 商品 */
.product_list .product_name{
    width: 450px;
}
/* 单价 */
.product_list .price{
    text-align: center;
    width: 100px;
    margin-left: 30px;
}


/* 物品详细列表 */
.product .product_list.product_list_detailed{
    margin-top: 10px;
    padding-top: 20px;
    color: #3a3a3a;
    height:120px;
    line-height:normal;
    font-size: 14px;
}
/* 物品详细列表左边的框 */
.product_list_detailed .check_box p{
    float: left;
    margin-top: 43px;
}
.product_list_detailed .check_box p>i{
    left: -4px;
    top: -6px;
}
/* 带图片的块 */
.check_box .product_img img{
    display: inline-block;
    width: 100px;
    height: 100px;
    float: left;
}
/* 计数input框 */
.product_list_detailed .num>input{
    float: left;
    display: inline-block;
    outline: none;
    width: 44px;
    height: 45px;
    font-size: 17px;
    text-align: center;
    line-height: 44px;
    border: 1px solid #D5D5D5;
    border-right: 0;
}
/* 加减框 */
.product_list_detailed .count{
    display: inline-block;
    float: left;
}
.product_list_detailed .count>p{
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #767676;
    font-size: 20px;
    width: 22px;
    height: 22px;
    border: 1px solid #D5D5D5;
}
.product_list_detailed .count>p:first-child{
    border-bottom: 0;
}
/* 右边小计和操作的字体样式 */
.product_list_detailed .small_price{
    color: #ca141d;
    font-weight: 700;
}
.product_list_detailed .product_list_delete{
    color: #a4a4a4;
    cursor: pointer;
}

/* 询问删除框 */
.ask_delete{
    display: none;
    position: absolute;
    width: 288px;
    text-align: center;
    z-index: 5;
    margin-bottom: 6px;
    background-color: #fff;
    border: 1px solid #ca151e;
    padding: 20px 0;
    text-align: center;
}
.ask_delete h2{
    font-size: 16px;
    color: #ca151e;
    padding-bottom: 7px;
}
.ask_delete p{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
    vertical-align: top;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #ca151e;
}
.ask_delete .yes:hover{
    background-color: #ab0009;
}
.ask_delete .no{
    color: #333;
    background-color: #fafafa;
    border: 1px solid #BABABA;
}
.ask_delete .no:hover{
    color: white;
    background-color: #3a3a3a;
}



/* 结算列表 */
.product .product_list.settlement{
    margin-top: 10px;
    color: #3a3a3a;
    height: 60px;
    line-height: 60px;
    position: static;
}
/* 滚动底部变化 */
.settlement.change_settlement{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: #393939 0 -2px 10px ;
}
/* 全选 */
.settlement .select_all{
    width: 60px!important;
}
/* 删除小手 */
.settlement  a.settlement_delete_check{
    cursor: pointer!important;
}

/* 右边 */
/* icon */
.settlement>.check_box i{
    top: -24px;
}

.settlement .settlement_right{
    height: 60px;
    float: right;
}
.settlement_right>p{
    position: relative;
    float: left;
    padding-top: 7px;
    line-height: 20px;
    height: 45px;
    margin-right: 30px;
    text-align: right;
    color: #a4a4a4;
}
.settlement_right>p i{
    top: 8px;
    position: absolute;
    right: -16px;
    color: #F36730;
    font-size: 14px;
}
/* 总计 */
.settlement_right>p .total{
    color: #3a3a3a;
    font-size: 14px;
}
/* 总计价格 */
.settlement_right>p .total_price{
    text-align: justify;
    text-align-last: justify;
    color: #ca151e;
    font-size: 18px;
    font-weight: 700;
}
/* 已选择商品的数量 */
.settlement_right>p .product_num{
    color: #ca151e;
}
/* 优惠价格 */
.settlement_right>p .discount{
    color: #3a3a3a;
}
/* 右边按钮 */
.settlement_right>a{
    overflow: hidden;
    float: right;
    width: 180px;
    height: 60px;
    line-height: 60px;
    display: block;
    background: #ca151e;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.section-in .product_remove_title{
    color: #3a3a3a;
    font-size: 18px;
    line-height: 1;
    margin: 30px 0 10px;
}
