body,
html {
    background-color: #F4F4F4;
}

article,nav,header,.classify,section,.small_Carousel,.iphone,footer,.foot,.ad-in {
    width: 1200px;
    margin: 0 auto;
}
.hover li:hover,.single:hover,.hover .image-text:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0 15px 30px;
    transform: translateY(-1px);
    transition: 0.4s;
} 

/* ad */
.ad,.banner {
    height: 90px;
    /* margin: 0 auto; */
    overflow: hidden;
}
.ad-in{
    height: 90px;
}
.ad-in>a{
    display: inline-block;
    margin-left: -960px; 
    width: 1920px;
    position: relative;
    left: 50%;
}


/* nav */
nav {
    height: 30px;
}

nav .nav_left {
    float: left;
}

nav>ul>li {
    float: left;
    line-height: 30px;
    padding: 0 8px;
    position: relative;
}

/* li加边框效果 */
nav>.nav_left>li::before,nav .nav_login>li:nth-child(n+3)::before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #e4e4e4;
}

nav .nav_left li:first-child,nav .nav_login li:first-child {
    padding-left: 0;
}

nav>ul>li>a {
    color: #A3A3A3;
    line-height: 30px;
}

nav>ul>li>a:hover {
    color: #C9151D;
}

nav .sanjiao {
    padding-right: 18px;
}

nav .sanjiao::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: 4px solid transparent;
    border-top: 6px solid #999;
    position: absolute;
    top: 11px;
    right: 4px;
}

nav .sanjiao:hover::after {
    border: 4px solid transparent;
    border-bottom: 6px solid #999;
    top: 7px;
}

nav .sanjiao:hover>div,
nav .nav_login .car:hover>div {
    display: block;
    z-index: 500;
}

nav .xiazai,.more,nav .nav_login .car_in {
    color: #999;
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    width: 120px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 6px 0 #999;
}

nav .xiazai img,
nav .nav_login .car_in img {
    margin: 10px auto;
}

nav .more a,
nav .xiazai a {
    color: black;
    font-size: 14px;
}
/* nav 右边li */
nav .nav_login {
    float: right;
}

nav .nav_login>li{
    padding: 0 7px;
}
nav .nav_login .car>a {
    padding-left: 3px;
}
nav .nav_login .car>a>i{
    display: inline-block;
    font-size: 16px;
    width: 26px;
}

nav .nav_login .car_in {
    width: 460px;
    padding: 30px 0;
    z-index: 500;
}


/* localstorage 数据渲染 */
nav .car .localdata {
    padding: 0;
}
/* 商品列表 */
.localdata .localdata_top{
    width: 460px;
    height: 168px;
}
.localdata .localdata_top>li {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    color: #3a3a3a;
}
.localdata .localdata_top>li{
    padding: 20px 20px 23px 20px!important;
}
/* icon */
.localdata_top em{
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 23px 22px 0 12px;
    border: 1px solid #A3A3A3;
    position: relative;
}
.localdata_top em>i{
    top: -8px;
    left: -4px;
    position:absolute;
    font-size: 22px;
    color: #C9151D;
}
/* icon右边块 */
.localdata_top>li .pro_section {
    font-size: 14px;
    height: 64px;
}
.localdata_top>li .pro_section>img{
    width: 64px;
    height: 64px;
    margin: 0;
    float: left;
}
.pro_section>p{
    float: right;
    cursor: pointer;
    line-height: 22px;
    margin-bottom: 20px;
    color: #3a3a3a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro_section>p:hover{
    text-decoration: none;
    color: #ca151d;
}
.pro_section .pro_{
    float: right;
    width:200px;
    text-align: right;
    font-weight: 400;
    color: #333;
}
.pro_ .pro_price{
    padding-right: 24px;
}
/* 下方结算 */
.localdata .localdata_down {
    height: 60px;
    background: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* 左边的块 */
.localdata_down .total_price_list{
    color: #3a3a3a;
    font-size: 14px;
    float: left;
     margin-left: 23px; 
     margin-top: 7px; 
    height: 44px;
    line-height: 22px;
    text-align: left;
}
.total_price_list h2{
    color: #ca141d;
    font-size: 24px;
}
/* 右边按钮 */
.localdata_down a{
    float: right;
    color: #FFF;
    background-color: #ca151e;
    font-size: 14px;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    margin: 10px 20px 0 0;
}
.localdata_down a:hover{
    background: #d5444b;
    color: #fff;
}

/* header */
header {
    height: 50px;
    padding: 10px 0;
}

header>h1 {
    height: 50px;
    width: 230px;
    float: left;
    margin-right: 40px;
    background: url(../img/logo.png) no-repeat left center;
}

header>ul {
    height: 50px;
    line-height: 50px;
    float: left;
}

header>ul>li {
    float: left;
    margin: 0 10px;
}

header>ul>li:hover a {
    color: #C9151D;
    border-bottom: 2px solid #C9151D;
}

header>ul>li>a {
    font-size: 16px;
    color: #3a3a3a;
    padding-bottom: 6px;
}
/* 搜索框 */
header .search {
    float: right;
    height: 30px;
    margin-top: 10px;
    position: relative;
}

header .search>i {
    width: 27px;
    height: 30px;
    position: absolute;
    right: 5px;
    background: url(../img/icon-common.png) no-repeat 0px -20px;
    cursor: pointer;
}

header .search input {
    border: 1px solid #DCDCDC;
    padding-left: 10px;
    width: 318px;
    height: 30px;
    font-size: 14px;
    outline: none;
}

header .search .input_on {
    position: absolute;
    left: 10px;
    top: 5px;
}

header .search .input_on span {
    cursor: pointer;
    margin-right: 11px;
    padding: 2px;
    display: inline-block;
    background-color: #F4F4F4;
    color: #A3A3A3;
}
header .search .input_on span:hover{
    color: #C9151D;
}

/* banner */
.banner {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.banner .banner_img {
    width: 800%;
    position: absolute;
    left: 0;
}

.banner .banner_img>li {
    width: 12.5%;
    height: 450px;
    float: left;
}

.banner .banner_list {
    position: absolute;
    text-align: center;
    width: 220px;
    bottom: 30px;
    left: 50%;
    margin-left: -110px;
    height: 10px;
    z-index: 600;
}

.banner .banner_list>li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid white;
}
.banner .banner_list>li:last-child{
    margin-right: 0;
}

/* banner左侧导航栏 */
.banner_left_out {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.banner_left {
    width: 240px;
    height: 450px;
    background: rgba(8, 8, 8, 0.7);
    position: absolute;
    color: #989898;
    font-size: 14px;
    z-index: 700;
}

.banner_left>li {
    height: 45px;
    padding: 15px;
}

.banner_left>li .category-iphone>li {
    margin-right: 10px;
    margin-top: 1px;
    float: left;
}
/* 左边块的 > icon*/
.banner_left>li .category-iphone>li:last-of-type {
    float: right;
    margin: 0;
    margin-right: -10px;
    margin-top: 6px;
}

.banner_left>li:hover {
    background-color: #3C3C3C;
    color: white;
}

/* 隐藏的块 */
.banner_left .category-iphone .category-detail {
    height: 449px;
    width: 648px;
    display: none;
    position: absolute;
    left: 240px;
    top: 0;
    z-index: 10000;
    color: black;
    background-color: white;
    border-top: 1px solid #E9E9E9;
}

.banner_left>li:hover .category-detail {
    display: block;
}

.banner_left .category-iphone .category-detail:hover {
    display: block;
}

.banner_left .category-iphone .category-detail>li {
    width: 608px;
}

/* see */
.banner_left .category-iphone .category-detail .see {
    height: 30px;
    line-height: 30px;
    padding:20px 0px 20px 40px;
    color: #C9151D;
    border-bottom: 1px solid #E9E9E9;
}

.banner_left .category-iphone .category-detail .see span:last-child {
    float: right;
    margin-right: 28px;
}

/* type */
.banner_left .category-iphone .category-detail .type {
    padding: 16px 30px 30px 20px;
}

.banner_left .category-iphone .category-detail .type>ul>li {
    margin-top: 30px;
    margin-right: 20px;
    float: left;
    cursor: pointer;
}
.banner_left .category-iphone .category-detail .type>ul>li:hover{
    color: #C9151D;
}

/* type_img */
.banner_left .category-iphone .category-detail .type_img {
    cursor: pointer;
    width: 648px;
}

.banner_left .category-iphone .category-detail .type_img ul li {
    width: 120px;
    padding: 26px 21px 27px 20px;
    border: 1px solid #E9E9E9;
    border-left: 0;
    text-align: center;
    float: left;
}

.banner_left .category-iphone .category-detail .type_img ul li>img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 118px;
    height: 120px;
}

.banner_left .category-iphone .category-detail .type_img ul li>p {
    margin-bottom: 4px;
}

.banner_left .category-iphone .category-detail .type_img ul li:last-child {
    border-right: 0;
}

.banner_left .category-iphone .category-detail .type_img ul li>span {
    color: #C9151D;
}

/* article */
article {
    border: 1px solid #E9E9E9;
    height: 97px;
    width: 1198px;
    border-top: 0px;
    background-color: white;
}

article>ul>li {
    float: left;
}

/* login 登录注册 */
article .login {
    padding: 13px 18px 20px 22px;
    width: 248px;
    position: relative;
}

article .login::after {
    content: "";
    width: 1px;
    height: 70px;
    position: absolute;
    right: 0px;
    background-color: #E9E9E9;
    top: 10px;
}

article .login>img {
    width: 59px;
    height: 59px;
    float: left;
    margin-right: 10px;
}

article .login>span {
    margin-left: 10px;
    display: inline-block;
    width: 162px;
    line-height: 18px;
    color: rgb(150, 148, 148);
}

article .login>span>a {
    color: black;
    text-decoration: underline;
}

article .login>span>a:hover {
    color: #C9151D;
}

article .login>p {
    margin-top: 5px;
}

article .login>p>a {
    padding: 2px 5px;
    margin-left: 10px;
    border: 1px solid #C9151D;
    color: #C9151D;
}

article .login>p>a:hover {
    background-color: #C9151D;
    color: white;
}

/* article_ser服务链接 */
article .article_ser {
    height: 97px;
    border-right: 1px solid #E9E9E9;
    width: 600px;
}

article .article_ser li {
    float: left;
    text-align: center;
    width: 100px;
    height: 60px;
    padding: 19px 0;
    position: relative;
}

article .article_ser li>a {
    color: black;
    display: block;
    margin: 0 auto;
    width: 40px;
    cursor: pointer;
    padding-top: 40px;
    background: url(../img/article_ser.png) no-repeat 0px 0px;
}

article .article_ser li:hover>a {
    color: #C9151D;
}

article .article_ser li>a>span {
    display: block;
    width: 60px;
    height: 22px;
    line-height: 22px;
    margin-left: -10px;
}

/* placard公告 */
article .placard {
    width: 297px;
    padding-right: 5px;
}

article .placard h4 {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #E9E9E9;
    padding: 13px 0 12px 13px;
    font-size: 14px;
}

article .placard h4>span {
    font-weight: bold;
    color: #C9151D;
    margin-right: 10px;
}

article .placard>ul {
    height: 48px;
    line-height: 48px;
}

article .placard>ul>li {
    float: left;
    margin: 0 10px;
}

article .placard>ul>li>span {
    display: inline-block;
    margin-bottom: -2px;
    width: 20px;
    height: 20px;
    background: url(../img/article_ser.png) no-repeat -242px 4px;
}

article .placard>ul>li:hover>a {
    color: #C9151D;
}
/* 独立推荐4个块 */
 .classify{
    margin: 15px auto;
    height: 160px;
}
 .classify li{
   float: left;
   margin-left: 12px;
}
.classify li:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0 15px 30px;
    transition: 0.4s;
}
.classify li:first-child{
    margin-left: 0;
}


/* section */
section .hot{
    height: 660px;
}
section  .h4{
    padding: 15px 0; 
    color: #3a3a3a;
    font-size: 22px;
}
section .hot>li{
    float: left;
}

section .hot .hot-right>ul{
    width: 968px;
    height: 590px;
}
section .hot .hot-right>ul>li{
    float: left;
    text-align: center;
    background-color: white;
    margin:3px 0px 3px 10px;
}
section .hot .hot-right>ul>li>a{
    display: block;
    width: 232px;
    height: 270px;
    padding-top: 20px;
    position: relative;
    font-size: 14px;
}
section .hot .hot-right>ul>li>a>p{
    margin: 5px 0;
    color: #C6C6C6;
}
section .hot .hot-right>ul>li>a .red{
   color: #C9151D;
}
section .hot .hot-right>ul>li img{
    width: 148px;
    height:148px;
    margin: 0px auto;
    margin-bottom: 20px;
}
section .hot .hot-right>ul>li>a i{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    right: 35px;
    bottom: 116px;
}
section .hot .hot-right>ul>li>a i>img{
    width: 100%;
    height: 100%;
}


/* small_Carousel小轮播图 */
.small_Carousel{
    height: 120px;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}
.small_Carousel_img {
    width:10800px;
    position: absolute;
    left: 0;
}

.small_Carousel_img>li {
    width:1200px;
    height:120px;
    float: left;
}

.small_Carousel_list {
    position: absolute;
    bottom: 10px;
    right: 100px;
    height: 10px;
    z-index: 10;
}

.small_Carousel_list>li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border-radius: 50%;
    border: 1px solid white;
} 

/* 手机专区 */
.iphone{
    height: 1100px;
}
.iphone_on{
   padding: 10px 0;
    height: 30px;
}
.iphone_on >h2{
    color: #3a3a3a;
    font-size: 22px;
    float: left;
}
.iphone_on>a{
    float:right;
    font-size: 16px;
    color: #666;
    margin-right: 10px;
}
.iphone_on .iphone-link{
    display: inline-block;
    margin-left: 28px;
}
.iphone_on .iphone-link li{
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
}
.iphone_on .iphone-link li a{
    display: block;
    font-size: 16px;
    color: #a4a4a4;
}
.iphone_on .iphone-link li:hover a{
    color: #C9151D;
    border-bottom: 2px solid #C9151D;
}

.iphone_down{
    width: 1200px;
    /* margin-left: -10px; */
}

.iphone_down .iphone_down_fir img{
    width: 290px;
    height: 345px;
    margin: 0;
}
.iphone_down>li{
    float: left;
    text-align: center;
    background-color: white;
    margin:3px 0px 3px 10px;
}
.iphone_down>li:not(:first-child)>a{
    display: block;
    width: 290px;
    height: 325px;
    padding-top: 20px;
    position: relative;
    font-size: 14px;
}
.iphone_down>li>a>p{
    margin: 5px 0;
    color: #C6C6C6;
}
.iphone_down>li>a .red{
   color: #C9151D;
}
.iphone_down>li img{
    width: 178px;
    height:178px;
    margin: 0px auto;
    margin-bottom: 20px;
}
.iphone_down>li>a i{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    right: 35px;
    bottom: 116px;
}
.iphone_down>li>a i>img{
    width: 100%;
    height: 100%;
}
/* pad */
.pad{
    height: 780px;
}
/* 智能穿戴 */
.sweat{
    height: 760px;
}
.iphone_down .sweat_down_fir img{
    width:590px;
    height: 345px;
    margin: 0;
}
.sweat_down>li{
    float: left;
    text-align: center;
    background-color: white;
    margin:3px 0px 3px 10px;
}
.sweat_down>li:not(:first-child)>a{
    display: block;
    width:590px;
    height: 325px;
    padding-top: 20px;
    position: relative;
    font-size: 14px;
}

/* 统一的长滚动样式 */
/* 最外层盒子设置宽高 */
.x_move{
	width: 1200px;
    height: 290px;
    background-color: #F3F3F3;
    position: relative;
    margin-bottom: 24px;
}
/* 每个小盒子 */
.image-text>a{
	text-align: center;
	background-color: white;
	/* margin:3px 0px 12px 1px; */
    display:block;
	width: 217px;
    height: 262px;
    font-size: 14px;
    padding-top: 30px;
}
.image-text>a>p{
    margin: 5px 0 10px;
    color: #C6C6C6;
}
.image-text>a .red{
   color: #C9151D;
}
.image-text img{
    width: 134px;
    height:134px;
	display: block;
    margin: 0px auto;
    margin-bottom: 20px;	
}
/* 左右图标 */
.x_move .left,.x_move .right{
    display: block;
    background: rgba(204,204,204,0.9);
    cursor: pointer;
    height: 75px;
    line-height: 75px;
    margin-top: -37.5px;
    width: 22px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    z-index: 1000!important;
	outline: none;
}
.x_move .left{
    left: 0;
}
.x_move .right{
   right: 0;
}
/* 上面小图标样式 */
section .image-text>a i{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    right: 24px;
    bottom: 116px;
}
section .image-text>a i>img{
    width: 100%;
    height: 100%;
}
/* 设置到最开始和最开头时,点击按钮不会点击到下方a标签 */
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ 
         pointer-events:auto; 
         cursor: not-allowed;
 }



/* 智能家居 */
.smart{
    height: 760px;
}

/* 热销配件专区 */
.fitting{
    height: 760px;
}

/* new_people */
.new_people{
    margin:20px 0 60px;
}


/* foot_out */
.foot_out{
width: 100%;
background-color: #EFEFEF;
}

/* foot */
.foot{
    height: 350px;
}
.foot .foot_ser{
    height: 140px;
    border-bottom: 1px solid #999;
}
.foot .foot_ser li{
    float: left;
    width: 300px;
    height: 140px;
    line-height: 140px;
}
.foot .foot_ser li span{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: -20px;

    margin-right: 10px;
    background: url(../img/icon-common.png) no-repeat 2px -149px;
}
.foot .foot_ser li>a{
    font-size: 18px!important;
}

.foot .foot_link{
    width:1200px;
    height: 212px;
    padding: 20px 0 10px 0;
}
.foot .foot_link>li{
    height: 212px;
    width: 170px;
    float: left;
}
.foot .foot_link>li>dl dt{
    padding:10px 0;
}
.foot .foot_link>li:nth-child(6)>dl dt{
    position: relative;
}
.foot .foot_link>li>dl::before{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #A7A7A7;
}
.foot .foot_link>li>dl dd a{
    line-height: 20px;
    color: #656565;
}
.foot .link_left,.foot .link_right{
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background-color: #B2B2B2;
    color: white;
    cursor:pointer;
}
.foot .link_left{
    right:100px;
}
.foot .link_right{
    right: 84px;
}

.foot .foot_link>li:last-child>dl dt h3{
    font-weight: 500;
    font-size: 22px;
    color: #393939;
}
.foot .foot_link .service{
    display: block;
    width: 161px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900!important;
    cursor: pointer;
    border-radius: 5px;
}
.foot .foot_link .service span{
    display: inline-block;
    height: 18px;
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat -101px -23px;
}


/* foot_out */
.foot_out {
    width: 100%;
    background-color: #EFEFEF;
}

/* foot */
.foot {
    height: 350px;
}

.foot .foot_ser {
    height: 140px;
    border-bottom: 1px solid #E7E7E7;
}

.foot .foot_ser li {
    float: left;
    width: 300px;
    height: 140px;
    line-height: 140px;
}

.foot .foot_ser li span {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: -20px;
    margin-right: 10px;
    background: url(../img/icon-common.png) no-repeat 2px -149px;
}

.foot .foot_ser li>a {
    font-size: 16px;
    color: #3a3a3a;
}

.foot .foot_link {
    width: 1200px;
    height: 212px;
    padding: 20px 0 10px 0;
}

.foot .foot_link>li {
    height: 212px;
    width: 157px;
    float: left;
}

.foot .foot_link>li>dl dt {
    font-size: 14px;
    padding: 10px 0 12px;
}

.foot .foot_link>li:nth-child(6)>dl dt {
    position: relative;
}

.foot .foot_link>li>dl::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #A7A7A7;
}

.foot .foot_link>li>dl dd a {
    font-size: 12px;
    white-space: nowrap;
    line-height: 24px;
    color: #656565;
}

.foot .link_left,
.foot .link_right {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background-color: #B2B2B2;
    color: white;
    cursor: pointer;
}

.foot .link_left {
    right: 80px;
}

.foot .link_right {
    right:60px;
}

.foot .foot_link>li:last-child>dl dt h3 {
    font-weight: 500;
    font-size: 24px;
    color: #393939;
}

/* 最后一个li */
.foot .foot_link>li:last-child{
    width: 170px;
    margin-left: 40px;
}
.foot .foot_link>li:last-child .tel_next{
    line-height: 16px;
}

.foot .foot_link .service {
    display: block;
    width: 170px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900 !important;
    cursor: pointer;
    border-radius: 5px;
}

.foot .foot_link .service span {
    display: inline-block;
    height: 18px;
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat -101px -23px;
}


/* footer */
.footer_out {
    width: 100%;
    background-color: #E5E5E5;
}

footer {
    font-size: 12px;
    padding: 26px 0 34px;
    width: 1200px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
    background: url(../img/flogo.png) no-repeat left 45px;
}

footer>p {
    margin-left: 120px;
    line-height: 20px;
    color: #a4a4a4;
}

footer>p>a {
    color: #a4a4a4;
}

footer>p>a:hover {
    color: #ca141d;
}

footer>ul {
    width: 300px;
    height: 60px;
    float: right;
    margin-top: -20px;
}

footer>ul>li {
    float: left;
}

footer>ul>li a {
    margin-left: 4px;
    display: block;
    width: 70px;
    height: 24px;
}

footer>ul>li a img {
    width: 100%;
    height: 100%;
}

/* 置顶及锚点定位 */
#go-top{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 0;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    line-height: 40px;
}
#go-top i{
    display: inline-block;
    height: 24px;
    width: 14px;
    background: url(../img/icon-common.png) no-repeat -122px 15px;
}

